@model Photography_Blog.ViewModels.ContactInfoViewModel

@{
    ViewData["Title"] = "DeleteContactInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="table-form">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <h1>საკონტაქტო ინფორმაციის წაშლა</h1>
                        <div class="card">
                <div class="card-header">

                    <h3>ნამდვილად გსურთ საკონტაქტო ინფორმაციის წაშლა?</h3>
                    <div>
                        <dl class="row">
                            <dt class="col-sm-2">
                                სახელი
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Title)
                            </dd>
                            <dt class="col-sm-2">
                                მისამართი
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                            <dt class="col-sm-2">
                                ტელეფონი
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Phone)
                            </dd>
                            <dt class="col-sm-2">
                                მეილი
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt class="col-sm-2">
                                რუკა
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Map)
                            </dd>
                            <dt class="col-sm-2">
                                ფეისბუქი
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Facebook)
                            </dd>
                            <dt class="col-sm-2">
                                ინსტაგრამი
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Instagram)
                            </dd>
                            <dt class="col-sm-2">
                                ტიკტოკი
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Tiktok)
                            </dd>
                            <dt class="col-sm-2">
                                იუთუბი
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Youtube)
                            </dd>
                            <dt class="col-sm-2">
                                ტვიტერი
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Twitter)
                            </dd>
                            <dt class="col-sm-2">
                                ლინკედინი
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Linkedin)
                            </dd>
                        </dl>
                                                <form asp-action="DeleteContactInfo">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="წაშლა" class="btn btn-danger" />
                            <div>
                                <a href="javascript:history.back()">უკან დაბრუნება</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</section>
