@model IEnumerable<Photography_Blog.ViewModels.PagePhotoViewModel>

@{
    ViewData["Title"] = "PageImage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="table-form">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <h1>ყველა გვერდის სურათი</h1>
            <a asp-action="AddPageImage" class="btn btn-warning">ახლის შექმნა</a>
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped" id="table1">
                        <thead>
                            <tr>
                                <th>
                                    სახელი
                                </th>
                                <th>
                                    სურათის ლინკი
                                </th>
                                <th>
                                    სურათი
                                </th>
                                <th>
                                    აღწერა
                                </th>
                                <th>
                                    კატეგორია
                                </th>
                                <th>
                                    ფოტოგრაფი
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhotoUrl)
                                    </td>
                                    <td>
                                        <img src="~/images/pageimages/@item.PagePhotoCategoryName/@item.ImageName" class="rounded-Corners" style="width: 100px; height: 100px;" asp-append-version="true" />
                                                                            </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PagePhotoCategoryNameGEO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PagePhotoPhotographerName)
                                    </td>
                                    <td>
                                        <a asp-action="EditPageImage" asp-route-id="@item.Id" class="btn btn-success">შესწორება</a>
                                        <a asp-action="DeletePageImage" asp-route-id="@item.Id" class="btn btn-danger">წაშლა</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

